* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* annimation bouton starligth */
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* min-height: 100vh; */
  background: #050801;
}
a {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  font-size: 24px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden; 
  transition: 0.5s;
  letter-spacing: 4px;
}
a:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
}

/* annimation marquee */
.text-wrapper {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  background: #003049;
}
h1 {
  font-size: 48px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #fff;
  text-stroke-color: #fff;
  white-space: nowrap;
  padding: 0 8rem;
  letter-spacing: 1px;
  animation: move-rtl 6000ms linear infinite;
}
@keyframes move-rtl {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
